<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Just Tech News</title> --}}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs /font-awesome/5.15.3/css/all.min.css">
    <title id="title-page" class="row">Echeriri</title>

    <!-- BULMA API FONT LINK -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    
    {{!-- CSS STYLE SHEET LINK FOR EVERY HANDLEBARS --}}
    <link rel="stylesheet" href="../../public/assets/css/style.css">
        <link rel="stylesheet" href="../../public/assets/css/contact.css">
            <link rel="stylesheet" href="../../public/assets/css/team.css">

</head>

<body>
    <div class="echeriri">

        <!-- HEADER START -->
        <div class="columns container-header">

            <header id="header" class="row sticky">

                <!-- LEFT BUTTON 1 #contact -->
                <div class="contact-us">
                    <a href="views/contact.handlebars" class="ph">
                        <img src="./assets/img/header/contact-us-100x100.jpg" alt="company-mission" width="100px">
                    </a>
                </div>

                <!-- LEFT BUTTON 2 #about -->
                <div class="about">
                    <a href="#team" class="ph">
                        <img src="./assets/img/header/we-are-icon-100x100.jpg" alt="company-mission" width="100px">
                    </a>
                </div>

                <!-- ECHERIR LOGO CENTER BUTTON 3 #Echeriri-->
                
                <div class="homepage-icon">
                    <a href="/echeriri" class="Echeriri-logo">
                        <img type="button" src="./assets/img/header/Echeriri-logo-100x100.jpg" alt="echeriri-homepage" width="100px"
                            id="echeriri">
                    </a>
                </div>


                <!-- RIGHT BUTTON 4 #contact-us -->
                <div class="contact-us-icon">
                    <a href="#subscribe" class="">

                        <img src="./assets/img/header/subscribe-icon-100x100.jpg" alt="contact-info" width="100px"
                            id="contact">
                    </a>
                </div>


                <!-- RIGHT BUTTON 5 #contact-us -->
                <div class="your-cart">
                    <a href="#yourcart" class="">
                        <img src="./assets/img/header/your-cart-100x100.jpg" alt="your-cart" width="100px" id="cart">
                    </a>
                </div>

            </header>

            <div class="bottom-border"></div>

        </div>
    </div>
    </header>


    {{!-- THIS WILL WORK TO SETUP HEADER AND FOOTER ICONS --}}
    {{!-- <nav>
        {{#if loggedIn}}
        <a href="/echeriri">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/homepage">homepage</a>
        {{/if}}
    </nav> --}}

    <main>

        {{{ body }}}
        {{!-- {{{ contact }}}
        {{{ team }}}
        {{{ user }}} --}}

    </main>


    <footer id="footer">

        <div class="row">

            <h3 id="four">FOUR COLLECTIONS</h3>

            <a href="#earth-collection" class="ph">
                <img src="./assets/img/footer/earth-icon.png" alt="earth-collection" height="" width="50px"
                    id="earth-collection" class="collection" type="button">
            </a>

            <a href="#fire-collection" class="ph">
                <img src="./assets/img/footer/fire-icon.png" alt="fire-collection" height="" width="50px"
                    id="fire-collection" class="collection" type="button">
            </a>


            <a href="#water-collection" class="ph">
                <img src="./assets/img/footer/water-icon.png" alt="water-icon" height="" width="50x"
                    id="water-collection" class="collection" type="button">
            </a>

            <a href="#wind-collection" class="ph">
                <img src="./assets/img/footer/wind-icon.png" alt="water-icon" height="" width="50px"
                    id="wind-collection" class="collection" type="button">
            </a>
        </div>
    </footer>
    </div>
    </div>
    <script src="public/assets/js/script.js"></script>
    <script src="public/javascript/login.js"></script>
    <script src="public/javascript/logout.js"></script>
</body>

</html>